<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sourcey.materiallogindemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".EditPasswordActivity"></activity>
        <activity android:name=".EditProfilesActivity"></activity>
        <activity android:name=".TodoActivity" />
        <activity android:name=".ProfilesActivity" />
        <activity android:name=".TicketActivity" />
        <activity android:name=".Main2Activity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>